.pokemon__image{
    width: 9.375rem;
    height: 9.375rem;
    transition: 0.5s;
}

.pokemon__info{
    width: 9.375rem;
    height: 9.375rem;
    top: 0;
    transition: 0.5s;
    transform: rotateY(270deg);
}

.info__type{
    width: 80px;
    height: 25px;
}