<div class="py-5">
    <ul class="pokemons flex flex-wrap justify-center xs:justify-between">
        <li (mouseenter)="showPokemonInfo($event)" (mouseleave)="hidePokemonInfo($event)" class="pokemon mb-3 relative"
            *ngFor="let pokemonInfo of pokemonInfos">
            <div class="pokemon__image bg-white rounded-full flex items-center justify-center">
                <img src="{{pokemonInfo.sprites.other.dream_world.front_default}}" style="width: 100px; height: 100px;">
            </div>
            <div class="pokemon__info bg-white rounded-full absolute flex flex-col justify-center items-center">
                <p class="text-primary font-bold capitalize">{{pokemonInfo.name}} ({{pokemonInfo.id}})</p>
                <div *ngFor="let type of pokemonInfo.types">
                    <div class="bg-{{type.type.name}} info__type rounded text-center uppercase text-white font-bold mt-1.5">{{type.type.name}}</div>
                </div>
            </div>
        </li>
    </ul>
</div>